doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")

        title My Charts UI

        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="assets/css/main.css")
    body
        .page.chat-list.hide
            header
                i.fa.fa-bars(aria-hidden="true")
                h1 Chats
                i.fa.fa-plus(aria-hidden="true")
            .content
                -
                    var chats = [
                        {img:"Baby_256.png", name: "Joad Day", content: "I have detailed below the most cost effective forms of internet marketing to"},
                        {img:"2.jpg", name: "Simon Lin", content: "嗨～想要參加的同學們，先來試一下水溫，我們來刻這個，盡量刻，下禮拜假日我們一起來 Review 一下 (或是開個直播？)"},
                        {img:"2.jpg", name: "Simon Lin", content: "Hi Guys, 寫完囉，下禮拜五前交作業～http://codepen.io/simonlin/pen/WjNVVe?editors=1100"},
                        {img:"3.jpg", name: "Anny Cheng", content: "刻好+1 https://goo.gl/IxqSwp"},
                        {img:"4.jpg", name: "Anny Cheng", content: "來交作業囉～我發現我定位上有很大的問題...先看看你們怎麼做的～ https://codepen.io/yoyoyohuang/pen/wdGEaK"},
                        {img:"1.jpg", name: "閃亮亮", content: "今天回家才要來刻 晚點交作業"},
                        {img:"2.jpg", name: "Simon Lin", content: "覺得再不寫 Code 我有一天一定會忘光，早上抓了一個UI來刻順便練習一下pug跟複習sass，嗯～應有87分像吧？認真決定不管多忙每週來一刻個介面，有人要++嗎？"},
                    ]
                ul
                    each chat in chats
                        li
                            .avatar
                                img(src="assets/img/"+chat.img, alt="")
                            .chat-content
                                h2.name= chat.name
                                    | <em>Dot</em>
                                p= chat.content
                                .chat-time 10:24 PM
        .page.chat-detail
            header
                i.fa.fa-chevron-left(aria-hidden="true")
                h1 Will Huang
                i.fa.fa-ellipsis-v(aria-hidden="true")
            .content
                -
                    var chats = [
                        {img:"5.jpg", class: "self",  name: "Will Huang", content: "不如也來 UI Club 開直播一下？不如也來 UI Club 開直播一下？"},
                        {img:"2.jpg", class: "other", name: "Simon Lin", content: "前幾天有跟衛斯理聊到，哈哈 不過要想一下要教什麼 現在還沒什麼想法~"},
                    ]
                -
                    var chats2 = [
                        {img:"5.jpg", class: "self",  name: "Will Huang", content: "UI coding 滿不錯的阿"},
                        {img:"2.jpg", class: "other", name: "Simon Lin", content: "但這我自己有時候也會卡關欸 但這我自己有時候也會卡關欸 而且做不快 哈哈哈哈 等我多練幾個 可以"},
                        {img:"5.jpg", class: "self",  name: "Will Huang", content: "直播的好處就是卡關可以問大家，哈哈"},
                        {img:"2.jpg", class: "other", name: "Simon Lin", content: "但這我自己有時候也會卡關欸 但這我自己有時候也會卡關欸 而且做不快 哈哈哈哈 等我多練幾個 可以"},
                        {img:"5.jpg", class: "self",  name: "Will Huang", content: "直播的好處就是卡關可以問大家，哈哈"},
                    ]
                ul
                    each chat in chats
                        li(class=chat.class)
                            p= chat.content
                            .avatar
                                img(src="assets/img/"+chat.img, alt="")

                    .time 8 April 2017

                    each chat in chats2
                        li(class=chat.class)
                            p= chat.content
                            .avatar
                                img(src="assets/img/"+chat.img, alt="")
            .inputBar
                input(type="text" placeholder="Type Something...")
                i.fa.fa-paperclip
                i.fa.fa-paper-plane

